.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}

table {
  width: 100%;
}

#top-container {
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
}

// .mat-column-{Prediction} {
//   flex: 0 0 25% !important;
//   min-width: 104px !important;
// }