<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <!-- <li *ngFor="let game of allGames">
    {{ game.date }}
  </li> -->
<table mat-table [dataSource]="allGames" class="mat-elevation-z8">

  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef> Date</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="Home">
    <th mat-header-cell *matHeaderCellDef> Home </th>
    <td mat-cell *matCellDef="let element"> {{element.home}} </td>
  </ng-container>

  <ng-container matColumnDef="Home Starter">
    <th mat-header-cell *matHeaderCellDef> Home Starter </th>
    <td mat-cell *matCellDef="let element"> {{element.home_starter}} </td>
  </ng-container>

  <ng-container matColumnDef="Away">
    <th mat-header-cell *matHeaderCellDef> Away </th>
    <td mat-cell *matCellDef="let element"> {{element.away}} </td>
  </ng-container>

  <ng-container matColumnDef="Away Starter" >
    <th mat-header-cell *matHeaderCellDef> Away Starter </th>
    <td mat-cell *matCellDef="let element"> {{element.away_starter}} </td>
  </ng-container>

  <ng-container matColumnDef="Home Line">
    <th mat-header-cell *matHeaderCellDef> Home Line </th>
    <td mat-cell *matCellDef="let element"> 
      <div *ngIf="element.home_line === null">
        <form>
          <mat-form-field>
            <mat-label>Home Line</mat-label>
            <input matInput #first>
          </mat-form-field>
        </form> 
      </div>
      <div *ngElse>
        {{element.home_line}} 
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="Away Line">
    <th mat-header-cell *matHeaderCellDef> Away Line </th>
    <td mat-cell *matCellDef="let element"> 
      <div *ngIf="element.away_line === null">
        <form>
          <mat-form-field>
            <mat-label>Away Line</mat-label>
            <input matInput #first>
          </mat-form-field>
        </form>
      </div>
      <div *ngElse>
        {{element.away_line}} 
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="Prediction">
    <th mat-header-cell *matHeaderCellDef> Prediction </th>
    <td mat-cell *matCellDef="let element"> {{element.prediction}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button color="primary">Submit</button>


<router-outlet></router-outlet>